{% extends "bootstrap/base.html" %}

{% block title %}S'log{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
{% endblock %}

{% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href='{{url_for("profile",user = current_user.user)}}'>Welcome {{current_user.user}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
          <li><img class="rounded-circle account-img" src= {{url_for('static', filename='profile_images/' + current_user.image_file)}} style="max-height: 50px; max-width: 100px;"></li>
      <li class="nav-item active">


        <a class="nav-link" href="{{url_for('account')}}">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="{{url_for('view_posts')}}">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Comments</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('edit',user =current_user.user)}}">Change Password</a>
          <a class="dropdown-item"  href="{{url_for('Email_change',user =current_user.user)}}">Change Email</a>


          <a class="dropdown-item" href="{{url_for('Change_Profile')}}">Change profile</a>

            <a class="dropdown-item" href="{{url_for('Deleteaccount',user = current_user.user)}}">Delete Account</a>

        </div>
      </li>
    </ul>
  </div>
           <a class="btn btn-outline-primary" href="{{url_for('logout')}}">Log out</a>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}